body{
 text-align: center;
 background-color:rgba(red, green, blue, alpha)  ;    
}
h1{
    font-size: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
} 
#intro{
background: blue ;   
}
#origami{
    background: white ;   
    }
    #origami2{
        background: blue ;   
        }
      .line{
        height: 6px;
        background-color: black;
        width: 70px;
        margin: 80px auto;
      }  